/*Defining the rule to have a circular image display and to be set to a reasonable size */
.image-circle {
  border-radius: 50%;
  width:600px;
}
.image-container{
  text-align: center;
}

/* first set a nice background color with proper margins*/
body{
  margin: 20px;
  background-color: CornflowerBlue;
}
/* wanted to set my various text based stylings and sizes, which i slisted below*/
h1, h2, h3 {
  font-family: sans-serif, Fantasy;
  color: #006400;
  line-height: 100%;
}
header div h1{
  font-size: 75px;
  text-align: center;
}
p {
  font-family: Helvetica, Serif, "Comic Sans";
  font-size: 25px;
  color: #8FBC8F;
  line-height: 24px
}

footer p {
  text-align: right;
  font-size:15px;
}

/*I like to customize the look of links in there different active stages, that is set up below*/
a:link{
  color: #0000FF;
}
a:visited{
  color: #00FFFF;
}
a:hover{
  color: #7FFFD4;
}
a:active{
  color: #F0F8FF;
}
/* set up padding for all three major components in the body */
header main footer{
  padding: 300px;
}

